{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <title>Sarasvati</title>
    <meta name="description" content="Explore books to read next">
</head>
<body>
    {% include 'global/partials/menu.html' %}
    {% include 'global/partials/header.html' %}

    {% block content %}

    {% if messages %}
        <div class="main-content center container">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    {% endblock content %}

    {% include 'global/partials/footer.html' %}

    <script src="{% static 'global/js/scripts.js' %}"></script>
</body>
</html>